.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 17rem;
    height: 100%;
    background: white;
    box-shadow: 2px 2px 50px rgb(204, 204, 204);
    overflow: scroll;
    overflow-x: hidden;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    border-radius: 0 40px 40px 0;
}

.library h2 {
    padding: 1rem;
    color: #16325C;
    font-size: 14px;
}

.library hr{
    width: 80%;
    height: 1px;
    border: 0;
    border-top: 1px solid #EBF0F5;
}

.library-items {
    height: 40px;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: background 0.5s ease;
}

.library-items img {
    width: 30%;
}

.library-items:hover {
    background: #F5FAFF;
    transition: 0.5s ease;
}

.selected {
    background: rgba(244, 179, 255, 0.9);
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 86px;
    height: 86px;
    border-radius: 20px;
    margin: 1em 0 1em 1em;
}

.space-items {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width:768px) {
    .library {
        width: 100%;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}